<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <img [src]="heroe.img" style="width:70%; height:auto;" alt="">
        </div>
        <div class="ml-2 col-7 d-flex justify-content-center align-items-center" style="height:30vh;">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h5>Nombre : {{heroe.nombre}}</h5>
                    <h5>Descripcion del heroe</h5>
                    {{heroe.bio}}
                </div>
                <div class="col">
                    <h5>Nacimiento</h5>
                    {{heroe.aparicion | date : 'short'}}
                    <h5 class="mt-3">Casa : {{heroe.casa}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>